@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cinzel:wght@500&family=EB+Garamond&family=Poppins:wght@500&family=Satisfy&display=swap');
@import url('https://fonts.cdnfonts.com/css/titania');
@import url('https://fonts.cdnfonts.com/css/games');



body {
  display: flex;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
  justify-content: center;
  
}

.box {
  margin-top: 40px;
  position: relative;
  width: 450px;
  height: 500px;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  border-radius: 5px;
  
}

.glow::before , .glow::after{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg , #e6fb04 , #ff6600 , #00ff66 , #00ffff , #ff00ff , #ff0099 , #6e0dd0 , #ff3300 , #099fff);
  background-size: 400%;
  width: calc(100% + 5px); 
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}



.glow::after {
  filter: blur(40px);
  
}



h1 {
font-family: 'Titania', sans-serif;
font-family: 'Titania Outline', sans-serif;
position: relative;
letter-spacing: 10px;
color: #0e3742;
text-transform: uppercase;
width: 100%;
 margin-top: 30px;
 animation: cool 5s linear infinite;
}



.score1 {
  font-family: 'Bungee Spice', cursive;
}
.score2 {
  font-family: 'Bungee Spice', cursive;
}
.score3 {
  font-family: 'Bungee Spice', cursive;
}




.und{
  font-family: 'Games', sans-serif;
  border-radius: 5px;
  transition: 0.2s;
  background: #282727;
  color: whitesmoke;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: 0.5s;
}

.und:hover
{
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
  background: var(--clr)

}



.redo{
  font-family: 'Games', sans-serif;
  border-radius: 5px;
  transition: 0.2s;
  background: #282727;
  color: whitesmoke;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: 0.5s;
}

.redo:hover
{
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
  background: var(--clr)

}

.rest {
  font-family: 'Games', sans-serif;
  border-radius: 5px;
  transition: 0.2s;
  background: #282727;
  color: whitesmoke;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: 0.5s;
}

.rest:hover
{
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
  background: var(--clr)

}

.clear{
  font-family: 'Games', sans-serif;
  border-radius: 5px;
  transition: 0.2s;
  background: #282727;
  color: whitesmoke;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: 0.5s;
}
.clear:hover
{
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
  background: var(--clr)

}
.container {
  display: grid;
  position: relative;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 2px;
  margin: 20px auto;
  width: 306px;
  justify-content: center; /* Center the cells horizontally */
}

/* Styles for the cells */
.cell {
  color: greenyellow;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Styles for the controls */
.controls {
  margin-top: 50px;
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
}


/* Styles for the buttons */
button {
  margin: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}


/* Styles for the history log */
.history {
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 20px;
  top: 0;
  right: 130%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 300px; /* Increase the width of the history log */
  font-size: 16px; /* Increase the font size of the history log */
  align-self: start; /* Align the history log to the start (top) of the container */
}





@keyframes cool
{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: #0e3742;
    box-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #0FFF50 ;
    box-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4
    0 0 40px #03bcf4
    0 0 80px #03bcf4
    0 0 160px #03bcf4;

  }

}

@keyframes animate{
  0%{
      background-position: 0 0;
  }
  50%{
      background-position: 400% 0;
  }
  100%{
      background-position: 0 0;
  }
}